.btnCommander{
    margin-left: 83%;
    width: 18%;
    color: white;
    background-color: #772ce8;
    border-radius: 5px;
    margin-top: 0%;
}

.idCacher{
    width: 0%;
    height: 0%;
}

.soustotal{
    font-size: 125%;
    margin-left: 83%;
    font-weight:bold;
    margin-bottom: 1%;
}

.ErreurCon{
    font-size: 150%;
    text-align: center;
    color: #772ce8;
}

.titrePanier{
    margin-left: 13%;
    width: 70%;
}

.titrePanier p{
    position: absolute;
    margin-left: 61%;
    font-size: 120%;
    margin-top: -2%;
}

.tableauPanier{
    margin-left: 13%;
    width: 70%;
}

.article img{
    float: left;
    width: 16%;
    height: 20%;
}

.quantite{
    float: left;
    margin-top: 12%;
    margin-left: 0.5%;
}

.btnSupp{
    margin-left: 38%;
    margin-top: 12%;
    width: 15%;
    margin-bottom: 6%;
    color: white;
    background-color: #772ce8;
    border-radius: 5px;
}

.titre{
    margin-top: 0%;
    margin-left: -11%;
    float: left;
    font-size: 150%;
    text-decoration: none;
    color: black;
    width: 30%;
}

.titre p{
    margin-top: 0%;
}

.prix{
    margin-top: -20%;
    height: 20%;
    margin-left: 87%;
    font-size: 130%;
    
}

hr{
    margin-bottom: 1%;
}