form{
    background-color: grey;
    position: absolute;
    margin-left: 33em;
    width: 25em;
    height: 30em;
    margin-top: 10em;
}

h2{
    text-align: center;
}

.info label{
    margin-left: 15%;
}

.btn{
    text-align: center;
}

#users{
    margin-left: 1.5em;
}

.Erreur{
    text-align: center;
    font-size: 1em;
}

.info input{
    position: absolute;
    left: 40%;
}